$primary-color: #f1a5a5;

%flex-message {
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}

%message-shared {
    background-image: url("../img/navBackground.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

*{
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

.topnav-container {
    @extend %flex-message;
    flex-grow: 1;
    flex-direction: row;
    .topnav {
        //debugging
        flex-grow: 1;
        background-color: #f1a5a5;
        a:hover {
            background-color: #ddd;
            color: black;
        }
    }

}




.title {
    font-size: 8%;
    // margin-top: 30%;
    text-align: center;
}

form {
    display: block;
    text-align: center;
    .user-choice {
        @extend %flex-message;
        margin-top: 10%;
        padding: 8vw;
        margin-right: 7vw;
        margin-left: 7vw;
        background-color: white;
    }
    .radio-choice {
        // display: inline-block;
        margin-left:5vw;
        margin-right: 5vw;
    } 
 
    .option-stat {
        margin-bottom: 4vh;
        display: inline-block;
    }
}

.home-display-joke {
    @extend %flex-message; 
    flex-grow: 2;
    flex-direction: column;

    p {
        // @extend %flex-msessage;  
    }
}


body {
    @extend %message-shared;
}

//if desktop do this..
@media all and (min-width: 600px) {    
    // .topnav  {  
    //   flex-wrap: wrap;  
    // }  
    // .title {
    //     margin-bottom: 0px;
    //     font-size: 10vh;
    // }
}  