$primary-color: #f1a5a5;

%flex-message {
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}

%message-shared {
    background-image: url("../img/navBackground.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

*{
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    @extend %message-shared;
}

.topnav {
    @extend %flex-message;
    flex-direction: row;
    height: 6vh;
    background-color: #f1a5a5;
    font-size: 80%;
    a:hover {
        background-color: #ddd;
        color: black;
    }
}


form {
    display: block;
    text-align: center;
    .user-choice {
        padding: 8%;
        margin-right: 1%;
        margin-left: 1%;
        width: 100%;
        height: 100%;
        background-color: white;
    }
    .option-stat {
        font-size: 100%;
    }
}

.body-container {
    height:100%;
    @extend %flex-message;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #loading {
        margin-top: 30%;
    }

    .intro {
        @extend %flex-message;
        margin-top: 50%;
        flex-direction: row;
        align-items: bottom;
        margin-right: -20px;
        max-width: 67%;
    }
    .title {
        margin-left: 0;
        flex-direction: row;
        margin: 0; padding: 0; border: 0;
        font-size: 2em;
        margin-right: 2.5%;
    }

    .explanation {
        text-align: left;
        font-size: 0.8em;
        line-height: 1.2;
        margin-top: 5%;
    }

    .home-display-joke {
        // @extend %flex-message;
        justify-content: center;
        flex-flow: column wrap;
        align-content: center;
        height: 90%;
    }

    .chosen-joke {
        @extend %flex-message;
        align-items: center;
        justify-content: center;
        border-style: solid;
        border-color: black;
        border-radius: 25px;
        background-color:white;
        max-width: 40%;
        margin-bottom: 10px;
        padding: 14px;
        max-height: 100%;
        // align-content: space-between;
    }

}

//if desktop do this..
@media all and (min-width: 600px) {     
    body {
        font-size: 2em;
    }

    .body-container {
        .intro {
            margin-top: 10%;
            flex-direction: row;
            max-width: 55%;
            max-height: auto;
        }
        .title {
            font-size: 3em;
            // margin-right: -6%;
        }

        #loading {
            margin-top: 6%;
        }
    }

}  