$primary-color: #f1a5a5;
// navBackground
%flex-message {
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}

%message-shared {
    background-image: url("../img/navBackground.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.topnav {
    background-color: $primary-color;
    @extend %message-shared;
    @extend %flex-message;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.title {
    margin-bottom: 0px;
    font-size: 5vh;
    margin-top: 10vh;
    text-align: center;
}

form {
    @extend %flex-message;
    // height: 50%
    .user-choice {
        width: 50%;
        padding-top: 2vh;
        padding-right: 2vw;
        padding-bottom: 2vh;
        padding-left: 2vw;
        text-align: center;
    }
    .radio-choice {
        display: inline-block;
        margin-left:30%;
        margin-right: 30%;
    } 

    
    .option-stat {
        margin-bottom: 4vh;
    }
}



.user-choice {
    background-color: white;
}

body {
    @extend %message-shared;
}

//if desktop do this..
@media all and (min-width: 600px) {    
    // .topnav  {  
    //   flex-wrap: wrap;  
    // }  
    // .title {
    //     margin-bottom: 0px;
    //     font-size: 10vh;
    // }
}  